#root,
.app {
    height: 100%;
    background-image: url('../images/diary.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: auto;
    overflow-x: hidden;
}

.app {
    background: #3181f2;
    max-width: 500px;
    margin: 0 auto;
}

