.overlay {
    float: right;
}

.overlay span {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    padding: 0 10px;
}

.overlay__modal {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #000;
    display: none;
    height: 100%;
    left: 0;
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

.overlay__modal--visible {
    display: block;
}